__pycache__/
*.py[cod]
.venv/
venv/

data/raw_videos/train/*
data/raw_videos/test/*
data/skeleton_videos/train/*
data/skeleton_videos/test/*
data/keypoints/train/*
data/keypoints/valid/*
data/keypoints/test/*
!data/**/.gitkeep
!data/**/*.csv

outputs/checkpoints/*
outputs/logs/*
outputs/videos/*
!outputs/**/.gitkeep

